<header class="d-flex justify-content-center py-3">
  <nav class="nav nav-pills">
    @if (!authService.hasTokens()) {
      @for (route of notAuthRoutes; track $index) {
        <li class="nav-item">
          <a
            [routerLink]="route.path"
            class="nav-link"
            routerLinkActive="active"
            >{{ route.name }}</a
          >
        </li>
      }
    } @else {
      @if (enterpriseService.getEnterpriseId() === false) {
        @for (route of authRoutes; track $index) {
          <li class="nav-item">
            <a
              [routerLink]="route.path"
              class="nav-link"
              routerLinkActive="active"
              >{{ route.name }}</a
            >
          </li>
        }
      } @else if (enterpriseService.getEnterpriseId()) {
        @for (route of authAndEnterpriseRoutes; track $index) {
          <li class="nav-item">
            <a
              [routerLink]="route.path"
              class="nav-link"
              routerLinkActive="active"
              >{{ route.name }}</a
            >
          </li>
        }
      }
      <button class="btn btn-outline-primary ms-2" (click)="logout()">
        Cerrar sesión
      </button>
    }
  </nav>
</header>
