<main class="p-4">
  <h1>Dispositivos</h1>

  <button class="btn btn-primary me-2" (click)="createMode()">
    Crear nuevo dispositivo
  </button>
  <button
    class="btn btn-outline-secondary"
    [disabled]="loadingService.isLoading()"
    (click)="registerDevices()"
  >
    Registrar dispositivos
  </button>
  @if (newDevices) {
    <p>Nuevos dispositivos registrados: {{ newDevices.registeredDevices }}</p>
  }

  <app-dialog [open]="showFormDialog()" (openChange)="hideFormDialog()">
    <app-device-form
      [groupId]="groupId()"
      [visible]="showFormDialog()"
      [editDevice]="deviceToEdit"
      [deviceUsers]="deviceUsers"
      (editedDevice)="updateDevice($event)"
      (deviceCreated)="onDeviceCreated($event)"
    ></app-device-form>
  </app-dialog>

  <app-delete-dialog
    [open]="showDeleteDialog()"
    (openChange)="hideDeleteDialog()"
    [message]="'¿Eliminar el dispositivo ' + deviceToDelete?.deviceName + '?'"
    (onDelete)="onDeleteConfirm($event)"
  ></app-delete-dialog>

  <nav class="nav nav-pills my-4">
    <li class="nav-item me-2">
      <button
        [className]="showRegisteredDevices ? 'nav-link active' : 'nav-link'"
        (click)="showRegisteredDevices = true"
      >
        Dispositivos enrolados
      </button>
    </li>
    <li class="nav-item">
      <button
        [className]="!showRegisteredDevices ? 'nav-link active' : 'nav-link'"
        (click)="showRegisteredDevices = false"
      >
        Dispositivos no enrolados
      </button>
    </li>
  </nav>

  <ul class="list-group my-2">
    @if (showRegisteredDevices) {
      @for (device of enrolledDevices(); track device.deviceId) {
        <li class="list-group-item">
          <app-device-list-item
            [groupId]="groupId()"
            [device]="device"
            [policies]="policies"
            [groups]="groups"
            (onEditDevice)="editDevice($event)"
            (onDeleteDevice)="deleteDevice($event)"
          ></app-device-list-item>
        </li>
      }
    } @else {
      @for (device of notEnrolledDevices(); track device.deviceId) {
        <li class="list-group-item">
          <app-device-list-item
            [groupId]="groupId()"
            [device]="device"
            [policies]="policies"
            [groups]="groups"
            (onEditDevice)="editDevice($event)"
            (onDeleteDevice)="deleteDevice($event)"
          ></app-device-list-item>
        </li>
      }
    }
  </ul>
</main>
