@if (device) {
  <main class="container-fluid">
    <div>
      <p>Nombre: {{ device.deviceName }}</p>
      <p>Pin de registro en app: {{ device.pin }}</p>

      @if (device.androidVersion) {
        <p>Version de android: {{ device.androidVersion }}</p>
      }

      @if (device.batteryLevel) {
        <p>Nivel de batería: {{ device.batteryLevel }}</p>
      }

      @if (device.installedApps && device.installedApps.length > 0) {
        <p>Aplicaciones instaladas:</p>
        <ul>
          @for (installedApp of device.installedApps; track installedApp) {
            <li>{{ installedApp }}</li>
          }
        </ul>
      }

      @if (device.policyName) {
        <p>Política aplicada: {{ device.policyName }}</p>
      }

      @if (device.serialNumber) {
        <p>Número de serie: {{ device.serialNumber }}</p>
      }
      @if (device.imei) {
        <p>IMEI: {{ device.imei }}</p>
      }
      @if (device.mac) {
        <p>Dirección MAC: {{ device.mac }}</p>
      }

      @if (device.location) {
        <p>Ubicación: {{ device.location }}</p>
      }
    </div>
  </main>
}
