<div class="d-flex align-items-center justify-content-between gap-2">
  {{ user().name }}
  <span>
    {{ user().email }}
  </span>
  <span>
    {{ user().policyName }}
  </span>
  <div class="d-flex gap-2 flex-wrap justify-content-center">
    <button
      class="btn btn-outline-secondary me-2 btn-sm"
      [disabled]="loadingService.isLoading()"
      (click)="editUser()"
    >
      Editar
    </button>
    <button
      class="btn btn-danger btn-sm me-2"
      [disabled]="loadingService.isLoading()"
      (click)="deletePolicy()"
    >
      Eliminar
    </button>
  </div>
</div>
