<form
  class="d-flex flex-column"
  [formGroup]="deviceForm"
  (ngSubmit)="onSubmit()"
>
  <label>
    Nombre del dispositivo
    <input
      type="text"
      class="form-control"
      name="name"
      formControlName="name"
    />
  </label>

  <button
    type="submit"
    class="btn btn-primary mt-2"
    [disabled]="deviceForm.invalid || loadingService.isLoading()"
  >
    @if (editDevice()) {
      Editar dispositivo
    } @else {
      Crear dispositivo
    }
  </button>
</form>

@if (registerQr) {
  <img [src]="registerQr" alt="Código QR de registro" />
}
