<div>
  <a [routerLink]="device().deviceId.toString()">{{ device().deviceName }}</a>
  <button [disabled]="loadingService.isLoading()" (click)="editDevice()">
    Editar
  </button>
  <button [disabled]="loadingService.isLoading()" (click)="deleteDevice()">
    Eliminar
  </button>
  <form [formGroup]="applyPolicyForm" (ngSubmit)="applyPolicy()">
    <select name="name" formControlName="name">
      @for (policy of policies(); track policy.name) {
        <option [value]="policy.name">
          {{ policy.name }}
        </option>
      }
    </select>
    <button type="submit" [disabled]="loadingService.isLoading()">
      Aplicar política
    </button>
  </form>

  <form [formGroup]="sendCommandForm" (ngSubmit)="sendCommand()">
    <select name="command" formControlName="command">
      @for (deviceCommand of deviceCommandKeys; track deviceCommand) {
        <option [value]="DeviceCommand[deviceCommand]">
          {{ deviceCommand }}
        </option>
      }
    </select>
    <button type="submit" [disabled]="loadingService.isLoading()">
      Enviar comando
    </button>
  </form>
</div>
