<td>
  <div class="checkbox-checked">
    <input
      (change)="toggleSelected($event)"
      type="checkbox"
      class="form-check-input"
      name="selected"
      id="selected"
      [checked]="device().selected"
    />
  </div>
</td>
<td>
  <a
    [className]="device().enrolled ? 'fw-bold text-underline' : ''"
    [routerLink]="device().enrolled ? device().deviceId.toString() : null"
    >{{ device().deviceName }}</a
  >
</td>

<td>{{ deviceUser()?.email ?? "-" }}</td>

<td>
  <div class="d-flex gap-2 flex-wrap justify-content-center">
    @if (device().enrolled) {
      <button
        class="btn btn-outline-secondary btn-sm"
        [disabled]="loadingService.isLoading()"
        (click)="configDevice()"
      >
        Configurar
      </button>
    }
    <button
      class="btn btn-outline-secondary btn-sm"
      [disabled]="loadingService.isLoading()"
      (click)="editDevice()"
    >
      Editar
    </button>
    <button
      class="btn btn-danger btn-sm"
      [disabled]="loadingService.isLoading()"
      (click)="deleteDevice()"
    >
      Eliminar
    </button>
  </div>
</td>

@if (device().enrolled) {
  <td>
    <form [formGroup]="applyPolicyForm" (ngSubmit)="applyPolicy()">
      <select class="form-select" name="name" formControlName="name">
        @for (policy of policies(); track policy.name) {
          <option [value]="policy.name">
            {{ policy.name }}
          </option>
        }
      </select>
      <button
        class="btn btn-warning btn-sm"
        type="submit"
        [disabled]="loadingService.isLoading()"
      >
        Aplicar política
      </button>
    </form>
  </td>
  <td>
    <form [formGroup]="sendCommandForm" (ngSubmit)="sendCommand()">
      <select class="form-select" name="command" formControlName="command">
        @for (deviceCommand of deviceCommandKeys; track deviceCommand) {
          <option [value]="DeviceCommand[deviceCommand]">
            {{ deviceCommand }}
          </option>
        }
      </select>
      <button
        class="btn btn-warning btn-sm"
        type="submit"
        [disabled]="loadingService.isLoading()"
      >
        Enviar comando
      </button>
    </form>
  </td>
  <td>
    <form [formGroup]="migrateForm" (ngSubmit)="migrate()">
      <select class="form-select" name="groupId" formControlName="groupId">
        @for (group of groups(); track group.groupId) {
          <option [value]="group.groupId">
            {{ group.groupName }}
          </option>
        }
      </select>
      <button
        class="btn btn-warning btn-sm"
        type="submit"
        [disabled]="loadingService.isLoading()"
      >
        Migrar dispositivo
      </button>
    </form>
  </td>
}
