<main class="p-4">
  <h1>Políticas</h1>

  <button class="btn btn-primary" (click)="createMode()">
    Crear nueva política
  </button>

  <app-dialog [open]="showFormDialog()" (openChange)="hideFormDialog()">
    <app-policy-form
      [groupId]="groupId()"
      [isVisible]="showFormDialog()"
      [editPolicy]="policyToEdit"
      (policy)="addPolicy($event)"
    ></app-policy-form>
  </app-dialog>

  <app-delete-dialog
    [open]="showDeleteDialog()"
    (openChange)="hideDeleteDialog()"
    [message]="'¿Eliminar la política ' + policyToDelete?.name + '?'"
    (onDelete)="onDeleteConfirm($event)"
  >
  </app-delete-dialog>

  <ul class="list-group my-2">
    @for (policy of policies; track policy.name) {
      <li class="list-group-item">
        <app-policy-list-item
          [groupId]="groupId()"
          [policy]="policy"
          (onEditPolicy)="editPolicy($event)"
          (onDeletePolicy)="deletePolicy($event)"
        ></app-policy-list-item>
      </li>
    }
  </ul>
</main>
