<h1>Empresas</h1>

<ul>
  @for (enterprise of enterprises; track $index) {
    <li>{{ enterprise.enterpriseId }}</li>
  }
</ul>

<button
  type="button"
  [disabled]="loadingService.isLoading()"
  (click)="signUp()"
>
  Registrar empresa
</button>
@if (signUpUrl.length > 0) {
  <p>
    Visita la siguiente url para registrar una empresa
    <a [href]="signUpUrl" target="_blank" rel="noopener noreferrer">{{
      signUpUrl
    }}</a>
  </p>

  <form [formGroup]="enterpriseRegisterForm" (ngSubmit)="createEnterprise()">
    <label>
      Introduce aquí el nombre de la empresa:
      <input type="text" name="name" formControlName="name" />
    </label>
    <label>
      Introduce aquí el token de respuesta:
      <input type="text" name="token" formControlName="token" />
    </label>
    <button
      type="submit"
      [disabled]="enterpriseRegisterForm.invalid || loadingService.isLoading()"
    >
      Registrar
    </button>
  </form>
}
