<form [formGroup]="policyForm" (ngSubmit)="onSubmit()">
  <label>
    Nombre de la política
    <input type="text" name="name" name="name" formControlName="name" />
  </label>

  <div
    class="fcol"
    name="applicationPolicies"
    formArrayName="applicationPolicies"
  >
    Politica de aplicaciones
    <button type="button" (click)="addApplicationPolicy()">
      Añadir aplicación
    </button>
    @for (
      application of applicationPolicy.controls;
      track application.value;
      let i = $index
    ) {
      <div class="fcol" [formGroupName]="i">
        <label>
          Paquete de la aplicación
          <input type="text" name="packageName" formControlName="packageName" />
        </label>

        <label>
          Tipo de instalación
          <select name="installType" formControlName="installType">
            @for (installType of installTypeKeys; track installType) {
              <option [value]="InstallType[installType]">
                {{ installType }}
              </option>
            }
          </select>
        </label>

        <label>
          Política de permisos
          <select
            name="defaultPermissionPolicy"
            formControlName="defaultPermissionPolicy"
          >
            @for (
              permissionPolicy of permissionPolicyKeys;
              track permissionPolicy
            ) {
              <option [value]="PermissionPolicy[permissionPolicy]">
                {{ permissionPolicy }}
              </option>
            }
          </select>
        </label>

        <label>
          Deshabilitada
          <input type="checkbox" name="disabled" formControlName="disabled" />
        </label>

        <label>
          Modo de autoactualización
          <select name="autoUpdateMode" formControlName="autoUpdateMode">
            @for (autoUpdateMode of autoUpdateModeKeys; track autoUpdateMode) {
              <option [value]="AutoUpdateMode[autoUpdateMode]">
                {{ autoUpdateMode }}
              </option>
            }
          </select>
        </label>

        <button type="button" (click)="removeApplicationPolicy(i)">
          Eliminar aplicación
        </button>
      </div>
    }
  </div>
  <label>
    Estado del Wifi
    <select name="wifiState" formControlName="wifiState">
      @for (wifiState of wifiStateKeys; track wifiState) {
        <option [value]="WifiState[wifiState]">
          {{ wifiState }}
        </option>
      }
    </select>
  </label>

  <div class="fcol" name="wifiSsidPolicy" formGroupName="wifiSsidPolicy">
    Política de SSID
    <label
      >Tipo de política
      <select name="wifiSsidPolicyType" formControlName="wifiSsidPolicyType">
        @for (
          wifiSsidPolicyType of wifiSsidPolicyTypeKeys;
          track wifiSsidPolicyType
        ) {
          <option [value]="WifiSsidPolicyType[wifiSsidPolicyType]">
            {{ wifiSsidPolicyType }}
          </option>
        }
      </select>
    </label>
    <label class="fcol" formArrayName="wifiSsids">
      SSID
      <button type="button" (click)="addWifiSsid()">Añadir SSID</button>
      @for (ssid of wifiSsids.controls; track ssid; let j = $index) {
        <div>
          <input type="text" [name]="'ssid' + j" [formControlName]="j" />
          <button type="button" (click)="removeWifiSsid(j)">
            Eliminar SSID
          </button>
        </div>
      }
    </label>
  </div>

  <label>
    Modo de localización
    <select name="locationMode" formControlName="locationMode">
      @for (locationMode of locationModeKeys; track locationMode) {
        <option [value]="LocationMode[locationMode]">
          {{ locationMode }}
        </option>
      }
    </select>
  </label>

  <label>
    Bluetooth deshabilitado
    <input
      type="checkbox"
      name="bluetoothDisabled"
      formControlName="bluetoothDisabled"
    />
  </label>

  <label>
    Ajustar volumen deshabilitado
    <input
      type="checkbox"
      name="adjustVolumeDisabled"
      formControlName="adjustVolumeDisabled"
    />
  </label>

  <label>
    Botón de encendido
    <select name="powerButtonAction" formControlName="powerButtonAction">
      @for (
        powerButtonAction of powerButtonActionKeys;
        track powerButtonAction
      ) {
        <option [value]="PowerButtonAction[powerButtonAction]">
          {{ powerButtonAction }}
        </option>
      }
    </select>
  </label>

  <label>
    Acceso de datos USB
    <select name="usbDataAccess" formControlName="usbDataAccess">
      @for (usbDataAccess of usbDataAccesKeys; track usbDataAccess) {
        <option [value]="UsbDataAccess[usbDataAccess]">
          {{ usbDataAccess }}
        </option>
      }
    </select>
  </label>

  <button
    type="submit"
    [disabled]="policyForm.invalid || loadingService.isLoading()"
  >
    @if (editPolicy()) {
      Editar política
    } @else {
      Crear política
    }
  </button>
</form>
