<form [formGroup]="customCommandForm" (ngSubmit)="sendCustomCommandForm()">
  <label class="w-100 mb-2">
    Ajuste
    <select class="form-select" name="command" formControlName="command">
      @for (
        deviceCustomCommand of deviceCustomCommandKeys;
        track deviceCustomCommand
      ) {
        <option [value]="DeviceCustomCommand[deviceCustomCommand]">
          {{ deviceCustomCommand }}
        </option>
      }
    </select>
  </label>

  @if (
    customCommandForm.value.command === DeviceCustomCommand.ADJUST_BRIGHTNESS
  ) {
    <label class="w-100">
      Nivel de brillo: {{ customCommandForm.value.value }}
      <input
        type="range"
        name="value"
        formControlName="value"
        class="form-range"
        min="0"
        max="255"
      />
    </label>
  } @else if (
    customCommandForm.value.command === DeviceCustomCommand.ADJUST_VOLUME
  ) {
    <label class="w-100">
      Nivel de volumen: {{ customCommandForm.value.value }}
      <input
        type="range"
        name="value"
        formControlName="value"
        class="form-range"
        min="0"
        max="100"
      />
    </label>
  } @else if (
    customCommandForm.value.command === DeviceCustomCommand.ACTIVATE_GEOFENCE
  ) {
    <label class="w-100">
      Geovalla
      <select class="form-select" name="value" formControlName="value">
        @for (geofence of geofences; track geofence.geofenceId) {
          <option [value]="geofence.geofenceId">
            {{ geofence.geofenceName }}
          </option>
        }
      </select>
    </label>
  } @else if (
    customCommandForm.value.command === DeviceCustomCommand.DEACTIVATE_GEOFENCE
  ) {
    <small class="w-100">
      @if (device()?.geofenceId) {
        La geovalla {{ getActiveGeofenceName() }} está activa
      } @else {
        No hay ninguna geovalla activa
      }
    </small>
  }

  <button
    class="btn btn-primary w-100 mt-2"
    type="submit"
    [disabled]="customCommandForm.invalid || loadingService.isLoading()"
  >
    Cambiar ajuste
  </button>
</form>
